#novaButton {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 20px 30px;
  background: #4c9aff;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
